# Docker test ortamında oluşturulacak MySQL veritabanının bilgileri
MYSQL_DATABASE=kulliyat
MYSQL_USER=kulliyat
MYSQL_PASSWORD=bunu-degistirin
MYSQL_ROOT_PASSWORD=bunu-degistirin

# Bunun nasıl oluşturulacağını README'ye ekledim, oraya bakabilirsiniz
JWT_SECRET=base64-sifrelenmis-32-bytelik-secret-girin

# İsteğe bağlı olarak yeni admin hesabı oluşturun
BOOTSTRAP_ADMIN_USERNAME=
BOOTSTRAP_ADMIN_PASSWORD=
BOOTSTRAP_ADMIN_FIRST_NAME=
BOOTSTRAP_ADMIN_LAST_NAME=
BOOTSTRAP_ADMIN_ROLE=ROLE_ADMIN

# Uygulamanın çalışacağı port
APP_PORT=8080

# localhost dışında bir hostname kullanacaksanız değiştirin
# CORS_ALLOWED_ORIGINS=https://kulliyat.now.tofas.com.tr
