spring.datasource.url=jdbc:mysql://localhost:3306/kulliyat
spring.datasource.username=kulliyat_user
spring.datasource.password=kulliyat_pass
JWT_SECRET=en-az-32-bytelik-base64-sifrelenmis-secret
BOOTSTRAP_ADMIN_USERNAME=yagizhan
BOOTSTRAP_ADMIN_PASSWORD=sifre123+
BOOTSTRAP_ADMIN_FIRST_NAME=Yağızhan Burak
BOOTSTRAP_ADMIN_LAST_NAME=Yakar
BOOTSTRAP_ADMIN_ROLE=ROLE_ADMIN
